<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CV Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
     integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
     crossorigin="anonymous">
     <style>
        .btn-cv-lists {
            margin-left: 15px;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            box-shadow: none;
        }
        
        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }
        
        
        .btn-insuccessfo:hover {
            background-color: #138496;
            border-color: #117a8b;
        }                
        .title{
            text-align: center;
            color:black;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <br>
            <div class="col-md-8">
                <br>
                <br>
                <h1 class="title">Start generating your CV </h1>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" id="phone" name="phone">
                    </div>
                    <div class="mb-3">
                        <label for="summary" class="form-label">About You</label>
                        <textarea class="form-control" id="summary" name="summary"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="degree" class="form-label">Degree</label>
                        <input type="text" class="form-control" id="degree" name="degree">
                    </div>
                    <div class="mb-3">
                        <label for="school" class="form-label">School</label>
                        <input type="text" class="form-control" id="school" name="school">
                    </div>
                    <div class="mb-3">
                        <label for="university" class="form-label">University</label>
                        <input type="text" class="form-control" id="university" name="university">
                    </div>
                    <div class="mb-3">
                        <label for="previous_work" class="form-label">Previous Work</label>
                        <textarea class="form-control" id="previous_work" name="previous_work"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="skills" class="form-label">Skills</label>
                        <textarea class="form-control" id="skills" name="skills"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                     <strong>  Or :</strong>
                    <a href="{% url 'list' %}" class="btn btn-success btn-cv-lists">View CV Lists</a>
                </form>
            

            </div>
        </div>    
    </div>
    </body>
</html>
